/* @charset "UTF-8";

@media screen and (max-width: 750px) {

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#esportes {
    background-color: rgb(212, 241, 196);
}

#economia {
    background-color: rgb(246, 246, 184);
}

body {
    background-color: red;
}

figure {
    display: none;

} */